extends layout 

block content
  form(method="POST" action="/new")
    h1.new-msg New message 
    input.name-input(type="text" name="name" value="" placeholder="Name")
    textarea.msg-input(rows="20" name="message" value="" placeholder="Message")
    button.submit Submit