extends layout

block content
  h1.title= title
  button.add-msg(type="button" onclick="window.location.href='/new'") +
  .board
    each msg in messages
      .message
        p.text= msg.text
        .info
          span.user= msg.user 
          span.time= msg.added